var config = {
    zeph: {
        host: '',
        user: '',
        password: '',
        database: ''
    },
    red: {
        host: '',
        user: '',
        password: '',
        database: ''
    }
}

module.exports = config;
